
.create-form{
  /* background-color: rgb(243, 241, 238); */
/* background-image:url(../src/turky.jpeg); */
background-image:url(../src/com.jfif);

/* background-color: red; */
width: 100vw;
height: 100vh;

background-repeat: no-repeat;
background-size: cover;
border-image-width: auto;
/* margin-left: 20%; */



}

.first{
  /* color: rgb(248, 116, 116); */

  margin-right: 75%;
}
.first,label{
  color: rgb(3, 34, 46);
}